################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.git
/packages
/KNetFramework/bin
/KNetFramework/.vs
/KNetFramework/obj
/KNetFramework/*.user
/KNetDatabase/bin
/KNetDatabase/.vs
/KNetDatabase/obj
/KNetDatabase/*.dbmdl
/KNetDatabase/*.jfm
/KNetDatabase/*.user