USE [Zavrsni]
GO
/****** Object:  Table [Application].[Command.Level]    Script Date: 18/8/2015 21:41:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Application].[Command.Level](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Active] [bit] NOT NULL CONSTRAINT [CS_Application.Command.Level_Active]  DEFAULT (CONVERT([bit],(1))),
	[DateCreated] [datetime] NOT NULL CONSTRAINT [CS_Application.Command.Level_DateCreated]  DEFAULT (getdate()),
	[DateModified] [datetime] NULL,
	[DateDeactivated] [datetime] NULL,
	[Name] [varchar](10) NULL,
 CONSTRAINT [PK_Application.Command.Level] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [Application].[Command.Level] ON 

INSERT [Application].[Command.Level] ([ID], [Active], [DateCreated], [DateModified], [DateDeactivated], [Name]) VALUES (1, 1, CAST(N'2015-05-17 11:54:46.260' AS DateTime), NULL, NULL, N'One')
INSERT [Application].[Command.Level] ([ID], [Active], [DateCreated], [DateModified], [DateDeactivated], [Name]) VALUES (2, 1, CAST(N'2015-05-17 11:54:46.260' AS DateTime), NULL, NULL, N'Two')
INSERT [Application].[Command.Level] ([ID], [Active], [DateCreated], [DateModified], [DateDeactivated], [Name]) VALUES (3, 1, CAST(N'2015-05-17 11:54:46.260' AS DateTime), NULL, NULL, N'Three')
SET IDENTITY_INSERT [Application].[Command.Level] OFF
